body{
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #4c5660;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 85%;
    width: 30%;
    background-color:#f2f1f6;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.upper-card{
    height: 70%;
    width: 40%;
    background-color:#f2f1f6 ;
    display: flex;
    align-items: center;
    flex-direction: column;

}
img{
    height: 220px;
    width: 220px;
    margin-top: 30px;
    border-radius: 80%;
    padding: 1.5px;
}
.Name{
   color: black;
   font-weight: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   text-align: center;
   white-space: nowrap;
   margin: 7px;
   text-shadow: 5px;
}
.username{
    color: gray;
    font-weight: 20px;
    font-size: 15px;
}
.Designation{
    color: #4c5660;
    font-weight: 100px;
    font-size: 15px;
}
.lower-card{
    height: 50%;
    width: 100%;
    background-color: rgb(249, 248, 253);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-encloser{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.views{
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin: 10px;

}
h5{
    color: #4c5660;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.send-button{
             display:flex;
            padding: 15px 15px 15px 15px;
            font-size: 20px;
            text-align: center;
            height: auto;
            border-radius: 30px 30px 30px 30px;
            background-color: #5dbebc;
            color: #fff;
            border: none;
            bottom: 7rem;
        }

.floatbtnEncloser{
    position: absolute;
    right: -25px;
    top: 30%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f65d7b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more{
    color: grey;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}
.plus-sign{
     font-size: 36px;
    }